<p>visible: {{ isVisible }}</p>
<p>active: {{ isActive }}</p>


<div ng-repeat="i in indices">
    <br>
    <div ng-show="completedQuestions >= i">
        <p>{{ questions[i].question_text }}</p>
        <div ng-repeat="choice in questions[i].choices">
        <button ng-click="submitAnswer(questions[i], choice.correct)"
                ng-disabled="questions[i].status!=2">{{ choice.text }}
            </button>
        </div>
    </div>
</div>
<br>
<div>
    <button ng-click="next()" ng-show="completedQuestions >= indices.length">next</button>
</div>