<!-- This template is rendered by Django first -->

{% extends "base.html" %}
{% block title %}
comprehension
{% endblock %}

{% block content %}
<p>active: {{ active }}</p>


<script>
    var statusLink='{{ status_link }}'
</script>

<div ng-controller='comprehension'>

{% for question in questions %}

    <div ng-controller="question"      
         id="{{ question.id }}"
         status="{{ question.status }}"
         ng-show="this_question.visible">
    
         <p>
            {{ question.id }}: {{question.question.text }}
         </p>
    
        {% for choice in question.question.choices %}
            <button ng-controller='choice'
                    correct="{{ choice.correct }}"
                    ng-click="click()"
                    ng-disabled="status!=2">{{ choice.text }}</button>
        {% endfor %}
    
    </div>


{% endfor %}
    <a ng-show="showNextLink" href={{ next_link }}>next page</a>

</div>

{% endblock %}