<!-- This template is rendered by Django first -->

{% extends "base.html" %}
{% block title %}
passage view
{% endblock %}

{% block content %}
<p>active: {{ active }}</p>


<script>
    var startUrl='{{ start_url }}'
    var started='{{ exercise.passage_started }}'
    var stopUrl='{{ stop_url }}'
    var stopped='{{ exercise.passage_complete }}'
</script>

<div ng-controller='comprehension'>


{% for question in questions %}

<question text="{{question.question.text }}"
          id="{{ question.id }}"
          status="{{ question.status }}">

    test
    {% for choice in question.question.choices %}

    <choice text="{{ choice.text }}"
            correct="{{ choice.correct }}"></choice>

    {% endfor %}

</question>

{% endfor %}


</div>

{% endblock %}