<!-- This template is rendered by Django first -->

{% extends "base.html" %}
{% block title %}
comprehension
{% endblock %}

{% block content %}


<script>
    var statusLink='{{ status_link }}'
</script>

<div class='container' ng-controller='comprehension'>
<div class='row'>
<div class='col-md-8 col-md-offset-2'>
{% for question in questions %}

    <div class='question'
         ng-controller="question"      
         id="{{ question.id }}"
         status="{{ question.status }}"
         ng-show="this_question.visible">
    
         <p>
            {{ question.id }}: {{question.question.text }}
         </p>
    
        {% for choice in question.question.choices %}
            <button class='btn-block choice btn-primary'
                    ng-controller='choice'
                    correct="{{ choice.correct }}"
                    ng-click="click()"
                    ng-disabled="status!=2">{{ choice.text }}</button>
        {% endfor %}
    
    </div>


{% endfor %}
</div>
    <a ng-show="showNextLink" href={{ next_link }}>next page</a>
</div>
</div>

{% endblock %}